<div class = "profile_form">
  <%= form_with(model: profile, url: profile_path, local: true, class: "profile_form") do |f| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="profile_image profile">
      <%- if profile.profile_image_data != nil %>
        <div class="profile_field image">
            <%= image_tag profile.profile_image_url(image_size) %>
        </div>
      <%- end %>
      
      <div class="profile_field">
        <div class="label">
          <%= f.label :profile_image, "Update Profile Photo" %>
        </div>
          <br>
        <% f.hidden_field :profile_image, value: profile.cached_profile_image_data %>
        <%= f.file_field :profile_image %>
      </div>
    </div>

    <div class="profile_name profile">
      <div class="profile_field">
        <div class="label">
          <%= f.label :first_name, "First Name" %>
        </div> 
          <br>
        <%= f.text_field :first_name %>
      </div>

      <div class="profile_field">
        <div class="label">
          <%= f.label :last_name, "Last Name" %>
        </div>
          <br>
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="profile_contact profile">
      <div class="profile_field">
        <div class="label">
          <%= f.label :date_of_birth, "Birth Date" %>
        </div>
          <br>
        <%= f.date_field :date_of_birth %>
      </div>

      <div class="profile_field">
        <div class="label">
          <%= f.label :mobile_phone, "Phone Number" %>
        </div>
          <br>
        <%= f.telephone_field :mobile_phone %>
      </div>
    </div>
    
    <div class="profile_address">
      <div class="profile_field">
        <div class="label">
          <%= f.label :address, "Address" %>
        </div>
          <br>
        <%= f.text_field :addr_unit_number, placeholder: "Unit Number", class: "address" %>
        <%= f.text_field :addr_street_number, placeholder: "Street Number", class: "address" %> <br>
        <%= f.text_field :addr_street_name, placeholder: "Street Name", class: "street_name" %> <br>
        <%= f.text_field :addr_city, placeholder: "City", class: "address" %>
        <%= f.text_field :addr_state, placeholder: "State", class: "address" %> <br>
        <%= f.text_field :addr_postcode, placeholder: "Postcode", class: "address" %>
        <%= f.country_select :addr_country_code, placeholder: "Country", priority_countries: ["AU", "NZ", "US"] %>
      </div>
    </div>

    <div class="profile_about profile">
      <div class="profile_field">
        <div class="label">
          <%= f.label :about_me, "ABOUT ME" %>
        </div>
          <br>
        <%= f.text_area :about_me, placeholder: "Something about yourself" %>
      </div>
      
      <div class="profile_field">
        <div class="label">
          <%= f.label :languages, "I SPEAK" %>
        </div>
          <br>
        <%= f.text_field :language_1, placeholder: "Language #1" %> <br>
        <%= f.text_field :language_2, placeholder: "Language #2" %> <br>
        <%= f.text_field :language_3, placeholder: "Language #3" %>
      </div>
    </div>
    
    <% if profile.user.role == "Transporter" %>
      <div class="profile_passport profile">
        <div class="profile_field">
            <div class="label">
              <%= f.label :passport_number, "Passport Info" %>
            </div>
              <br>
            <%= f.text_field :passport_number, placeholder: "Passport Number" %> <br>
            <%= f.date_field :passport_expiry_date, placeholder: "Passport Expiry Date" %> <br>
            <%= f.country_select :passport_country_code, priority_countries: ["AU", "NZ", "US"] %>
            <div class="passport_label">
              <%= f.label :passport_image, "Attach Passport", class: "passport_text" %>
            </div>
              <br>
            <% f.hidden_field :passport_image, value: profile.cached_passport_image_data %>
            <%= f.file_field :passport_image, id: "profile_passport_image", class: "redundant_file_field" %>
        </div>

      <div class="profile_license profile">
        <div class="profile_field">
          <div class="label">
            <%= f.label :drivers_license_number, "Drivers License Info" %>
          </div>
            <br>
          <%= f.text_field :drivers_license_number, placeholder: "Drivers License Number" %> <br>
          <%= f.date_field :drivers_license_expiry_date, placeholder: "Drivers License Expiry Date" %> <br>
          <%= f.country_select :drivers_license_country_code, priority_countries: ["AU", "NZ", "US"] %> <br>
          <div class="license_label">
            <%= f.label :drivers_license_image, "Attach Drivers' License", class: "license_text" %>
          </div>
            <br>
          <% f.hidden_field :drivers_license_image, value: profile.cached_drivers_license_image_data %> <!-- Might not need to have this hidden profile_field -->
          <%= f.file_field :drivers_license_image, id: "profile_drivers_license_image", class: "redundant_file_field" %>
        </div>
      </div>
    <% end %>

    <div class="profile_submit profile actions">
      <% if profile == nil %>
          <%= f.submit "Signup!" %>
      <% else %>
          <%= f.submit "Update!" %>
      <% end %>
    </div>
    
  <% end %>
</div>