<h1>Profile Display Page</h1>
<p>This is the page rendered when you click on a user</p>
<p>Find me in app/views/profiles/show.html.erb</p>

<!-- Just for testing -->
<p><%= image_tag @profile.profile_image_url %></p>
<p><%= @profile.first_name %></p>
<p><%= @profile.last_name %></p>
<p><%= l @profile.date_of_birth %></p>
<p><%= @profile.mobile_phone %></p>
<p><%= @profile.profile_image_data %></p>
<p><%= @profile.about_me %></p>
<p><%= @profile.spoken_language %></p>
<p><%= @profile.location %></p>
<p><%= @profile.addr_country_name %></p>
<p><%= image_tag @profile.passport_image_url %></p>
<p><%= @profile.passport_number %></p>
<p><%= l @profile.passport_expiry_date %></p>
<p><%= @profile.passport_country_name %></p>
<p><%= @profile.passport_image_data %></p>
<p><%= image_tag @profile.drivers_license_image_url %></p>
