
<section class="ui centered grid container main">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "ui large form error") do |f| %>
        <div class="ui stacked segment rego">
          <%= devise_error_messages! %>
          <h3 class="ui header left aligned">Update Email and/or Password</h3>

          <div class="field">
            <% f.label :email %>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <% f.label :password %>
            <div class="ui left icon input">
                <i class="lock icon"></i>
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password (leave blank if not changing)" %>
            </div>
          </div>

          <div class="field">
            <% f.label :password_confirmation %><br />
            <div class="ui left icon input">
                <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
            </div>
          </div>

          <div class="field">
            <% f.label :current_password %>
            <div class="ui left icon input">
                <i class="lock icon"></i>
              <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password (required)" %>
            </div>
          </div>
          <p></p>
          <div class="actions">
            <%= f.submit "Update", class: "fluid ui secondary large button" %>
          </div>
        </div>
      <% end %>
      
      <div class="ui stacked segment">
        <h3 class="ui header left aligned">Cancel My Account</h3>
        <p class="text_left">Unhappy? Tell us more!</p>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "fluid ui secondary negative large button" %>
      </div>

      <button class="fluid ui left labeled icon button">
        <i class="left arrow icon"></i>
        <%= link_to "Back", :back, style: "color: rgba(0,0,0,.6);" %>
      </button>
    </div>
  </div>
</section>